{% block list %}

<ul>
{% for result in results %}
    <li onclick="window.open('{{ result.url }}')">
        <div style="float:left;width:calc(100%-220px);">
            {% if 'name' in result %}
                <h4>{{ result.name }}</h4>
            {% endif %}
            {% if 'categories' in result %}
                {{ result.categories[0].title }}{% if result.categories|length > 1 %}{% for category in result.categories[1:] %}, {{ category.title }}{% endfor %}{% endif %}
            {% endif %}
            <br>
            {% if 'rating' in result %}
                Rating: {{ result.rating }}
            {% endif %}
            <br>
            {% if 'display_phone' in result %}
                {{ result.display_phone }}
            {% endif %}
            <br>
            {% if 'display_address' in result %}
                {{ result.display_address[0] }}
            {% endif %}
        </div>  <!-- end float left -->
        
        <div style="float:right;">
            <!-- Insert first image -->
            {% if result.photos|length > 0 %}
                <img class="thumb" src={{ result.photos[0] }} alt="image" />
            {% endif %}
        </div>
    </li>
{% endfor %}
</ul>



{% endblock %}