<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Restaurant Finder</title>
	<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js"></script>
	<script type="text/javascript" src="/{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body><div class="wrap">
	{% block content %}
	<div id="filter-container">
		<!-- Filter options bar -->
		{% include  "partials/filters.html" %}
	</div>

	<div id="info-container">
		<div id="list-container">
			<!-- Create table -->
			{% include  "partials/list.html" %}
		</div>
		<div id="container-divider"></div>
		<div id="map-container">
			<!-- Draw map -->
			{% include  "partials/map.html" %}
		</div>
	</div>

	<p>
		<strong>Results found:</strong> {{ results|length }}
		<button>Click to load more!</button>
	</p>
	
	<p><strong>center_long:</strong> {{ center_long }}</p>
	
	{% endblock %}

</div>  <!-- end wrap div -->
</body>

</html>