<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Restaurant Finder</title>
	<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js"></script>
	<script type="text/javascript" src="/{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!-- Script to call Python function -->
	<!-- <script type="text/javascript">
        boxes();
    </script>
    <script type="text/javascript">
        $(document).ready(function boxes(){
            var names = []
            names.push('test-val-1');
    
            $('#submit').click(function() {
                names.push($('#testbox').val());
                console.log(names);
                $.ajax({
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    url: "/test",
                    traditional: "true",
                    data: JSON.stringify({names}),
                    dataType: "json"
                });
            });
        });
	</script> -->
	<script type="text/javascript">
        returnArgs();
    </script>
	<script type="text/javascript">
		function togglePricey() {
			// if ($('#pricey')[0].checked) {
			// 	$('#pricey')[0].checked = true;
			// } else {
			// 	$('#pricey')[0].checked = false;
			// }
			returnArgs();
		}
		function toggleCheap() {
			// if ($('#cheap')[0].checked) {
			// 	$('#cheap')[0].checked = true;
			// } else {
			// 	$('#cheap')[0].checked = false;
			// }
			returnArgs();
		}
		// function returnArgs() {
		// 	// let e1 = document.getElementById('cheap');
		// 	let cheap_checked = $('#cheap')[0].checked ? 1 : 0;
		// 	//let cheap_checked = e1.value;
		// 	// let e2 = document.getElementById('pricey');
		// 	let pricey_checked = $('#pricey')[0].checked ? 1 : 0;
		// 	//let pricey_checked = e2.value;
		// 	let sel_food_type = document.getElementById("food_type").selectedIndex;
		// 	//document.getElementById("food_type").selectedIndex = 1;
		// 	let vals = {
		// 		"cheap": cheap_checked,
		// 		"pricey": pricey_checked,
		// 		"sel_food_type": sel_food_type,
		// 		"lat": '{{ center_lat }}',
		// 		"lon": '{{ center_long }}'
		// 	};
		// 	// window.location.replace("/restaurant_finder?"  + $.param(vals));
		// }
		$(document).ready(function returnArgs() {
            // var args = {
			// 	"cheap": $('#cheap')[0].checked ? 1 : 0,
			// 	"pricey": $('#pricey')[0].checked ? 1 : 0
			// };
            $('#cheap').click(function() {
                $.ajax({
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    url: "/restaurant_finder",
                    traditional: "true",
                    data: JSON.stringify({"cheap": 1}),
                    dataType: "json"
                });
				window.location.reload();
            });
			$('#pricey').click(function() {
                $.ajax({
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    url: "/restaurant_finder",
                    traditional: "true",
                    data: JSON.stringify({"pricey": 1}),
                    dataType: "json"
                });
				// TODO: Can I just reload the map and list: #info-container
				window.location.reload();
            });
        });
	</script>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>  <!--  -->
<form action="/" method="post" enctype="multipart/form-data">
<div class="wrap">
	{% block content %}
	<div id="filter-container">
		<!-- Filter options bar -->
		{% include  "partials/filters.html" %}
	</div>

	<div id="info-container">
		<div id="list-container">
			<!-- Create list -->
			{% include  "partials/list.html" %}
		</div>
		<div id="container-divider"></div>
		<div id="map-container">
			<!-- Draw map -->
			{% include  "partials/map.html" %}
		</div>
	</div>

	<p>
		<strong>Results found:</strong> {{ results|length }}
		<button>Click to load more!</button>
	</p>
	{% endblock %}

</div>  <!-- end wrap div -->
</form>
</body>

</html>