{% extends "bootstrap/base.html" %}

{% block title %}Restaurant Finder{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
{% endblock %}

{% block content %}
<div class="wrap">
    <h5>Welcome to the Restaurant Finder. Select a type of food, or enter you're own.</h5>
    <!-- Filter options bar -->
    <div id="filter-container">{% block filter_content %}{% endblock %}</div>
    <div id="info-container">
        <!-- Create list -->
        <div id="list-container">{% include "list.html" %}</div>
        <div id="container-divider"></div>
        <!-- Draw map -->
        <div id="map-container">{% include "map.html" %}</div>
    </div>
    <div id="bottom-container">
        <strong>Results found: {{ results|length }}</strong>
        <button>Click to load more!</button>
        <div onclick="window.open('www.yelp.com')" style="float:right">
            Powered by: Yelp <img src="{{ url_for('static', filename='images/burst_icon.png') }}" alt="Logo">
        </div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
