{% block map %}

<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js"></script>
<script type="text/javascript" src="/{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div id='map' style='width: 100%; height: 100%;'></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoianNvbWEiLCJhIjoibFJmYl9JWSJ9.AUm8d76cbOvVEn2mMeG_ZA';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
        center: [{{ center_long }}, {{ center_lat }}],
        zoom: {{ zoom }}
    });
    var features = []
    {% for result in results %}
        features.push({
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                        {{ result.coordinates.longitude }},
                        {{ result.coordinates.latitude }}
                ]
            }
        })
    {% endfor %}
    map.on('load', function() {
        var geojsonData = {
            "type": "FeatureCollection",
            "features": features
        };
        map.addLayer({
            "id": "points",
            "type": "circle",
            "source": {
            "type": "geojson",
            "data": geojsonData
            }
        })
    })
</script>

{% endblock %}